@use "sass:color";

$white: oklch(98.5% 0 0);

$neutral-400: oklch(70.8% 0 0);

$red-950: oklch(25.8% 0.092 26.042);
$red-900: oklch(39.6% 0.141 25.723);
$red-800: oklch(44.4% 0.177 26.899);
$red-700: oklch(50.5% 0.213 27.518);
$red-400: oklch(70.4% 0.191 22.216);
$red-300: oklch(80.8% 0.114 19.571);
$red-200: oklch(88.5% 0.062 18.334);

$stone-950: oklch(14.7% 0.004 49.25);
$stone-900: oklch(21.6% 0.006 56.043);
$stone-800: oklch(26.8% 0.007 34.298);

$lime-800: oklch(45.3% 0.124 130.933);

$slate-800: oklch(27.9% 0.041 260.031);

$background: $stone-950;

$medium: 1024px;
