@use "./_colors.scss";
@forward "@fontsource-variable/josefin-sans";
@forward "@fontsource/poppins";
@forward "@phosphor-icons/web/regular";

$josefin-sans: "Josefin Sans Variable", sans-serif;
$poppins-sans: "Poppins", sans-serif;

:root {
  background-color: colors.$background;
  color: colors.$white;

  font-family: $poppins-sans;
}

body {
  padding: 0;
  margin: 0;
}

a {
  color: colors.$red-700;
}
