---
import { Image, getImage } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

import placeholder from "../images/translation-placeholder.webp";

const trans = (await getCollection("translations")).sort((t1, t2) => t1.data.name.localeCompare(t2.data.name, "fr"));

for (const t of trans) {
  t.data.resolvedIcon = (
    await getImage({ src: t.data.icon ?? placeholder, height: 512 })
  ).src;
}
---

<Layout title="Traductions" description="Mes traductions">
  <img
    src="https://media1.tenor.com/m/yMtzIUk9ab4AAAAC/orson-welles-welles.gif"
    alt='GIF de Orson Welles avec les mots "Pas mal non ? C&apos;est français."'
  />

  <div class="translations-container">
    {
      trans.map((t) => (
        <a href={`/traductions/${t.id}`}>
          <article>
            <div
              style={{ backgroundImage: `url(${t.data.resolvedIcon})` }}
              class={"background-image" + (t.data.icon ? "" : " placeholder")}
            />
            <h3>{t.data.name}</h3>
          </article>
        </a>
      ))
    }
  </div>
</Layout>

<style lang="scss">
  @use "../styles/colors";

  div.translations-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-between;

    a {
      display: block;
      text-decoration: none;
      color: colors.$white;
      padding: 0.5em;
      width: 35ch;

      article {
        display: flex;
        flex-direction: column;
        height: 15em;

        h3 {
          color: colors.$red-400;
          margin: 1em 0.5em;
        }

        div.background-image {
          height: 100%;
          width: 100%;

          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          border-radius: 0.5em;

          transition: 0.7s background-position;

          &.placeholder {
            background-size: contain;
          }
        }
      }

      &:hover {
        h3 {
          text-decoration: underline;
        }

        article div.background-image {
          background-position: top;
        }
      }
    }
  }
</style>
