<header>
    <div class="heading">
        Nadeko
    </div>
    <nav>
        <div>
            <a href="/">Accueil</a>
        </div>
        <div>
            <a href="/traductions/">Traductions</a>
        </div>
        <div>
            <a href="/a-propos/">À propos</a>
        </div>
    </nav>
</header>

<style lang="scss">
  @use "../styles/main";
  @use "../styles/_colors";

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    font-family: main.$josefin-sans;
    font-size: 16pt;

    color: colors.$white;
    background: colors.$red-950;

    height: 2em;

    padding: 0 1em;

    div.heading {
      position: absolute;
      left: 1em;
      cursor: default;
    }

    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;

      div {
        a {
          text-decoration: none;
            color: colors.$red-800;
        }
      }
    }
  }
</style>
