---
const path = Astro.url.pathname;

const tabs = [
  {
    href: "/",
    name: "Accueil",
  },
  {
    href: "/traductions/",
    name: "Traductions",
    matches: [/^\/traductions\/.*/],
  },
  {
    href: "/a-propos/",
    name: "À propos",
  },
];

const matches = (regexes: RegExp[] | undefined) =>
  regexes?.some((r) => r.test(path));
---

<header>
  <div class="heading">Nadeko</div>
  <nav>
    {
      tabs.map((t) => (
        <div class={t.href === path || matches(t.matches) ? "active" : ""}>
          <a href={t.href}>{t.name}</a>
        </div>
      ))
    }
  </nav>
</header>

<style lang="scss">
  @use "../styles/main";
  @use "../styles/_colors";

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    font-family: main.$josefin-sans;
    font-size: 14pt;

    color: colors.$white;
    user-select: none;

    height: 2em;

    padding: 0.5em 3em 0 1em;

    div.heading {
      position: absolute;
      left: 1em;
      cursor: default;
      font-size: 16pt;
    }

    nav {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 3em;
      width: 100%;

      div {
        &.active {
          a {
            color: colors.$red-400;
          }
        }

        a {
          text-decoration: none;
          color: colors.$red-700;
        }
      }
    }
  }
</style>
