---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import {type CreditsResponse, fetchCredits} from "../../weblateClient.ts";

export const getStaticPaths = async () => {
	const translations = await getCollection("translations");

	return translations.map((translation) => ({
		params: { id: translation.id },
		props: { translation },
	}));
};

const { translation } = Astro.props;
const { Content } = await render(translation);
let stats: CreditsResponse|undefined;

if (translation.data.weblateComponent) {
	stats = await fetchCredits(translation.data.weblateComponent);
}
---

<Layout
	title={translation.data.name}
>
	{
		translation.data.externalUrl ? (
			<a href={translation.data.externalUrl}>Lien vers le projet</a>
		) : undefined
	}

	<Content />
</Layout>
