---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import {avatar, type CreditsResponse, fetchCredits} from "../../weblateClient.ts";

export const getStaticPaths = async () => {
	const translations = await getCollection("translations");

	return translations.map((translation) => ({
		params: { id: translation.id },
		props: { translation },
	}));
};

const { translation } = Astro.props;
const { Content } = await render(translation);
let stats: CreditsResponse|undefined;

if (translation.data.weblateComponent) {
	stats = await fetchCredits(translation.data.weblateComponent);
}
---

<Layout
	title={translation.data.name}
>
	{
		translation.data.externalUrl ? (
			<a href={translation.data.externalUrl}>Lien vers le projet</a>
		) : undefined
	}

	<Content />

	<aside>
		{stats &&
			<>
				<h2>Contributeurs</h2>

				{
					stats
						?.flatMap(l => l['French'])
						.map(c =>
							<div>
								<img alt="" src={avatar(c.username)} />
								{ c.full_name }
							</div>
						)
				}
			</>
		}
	</aside>
</Layout>
