name: Deployment

on:
  push:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest

    environment:
        name: Staging
        url: https://staging-nad.vinceh121.me/
    steps:
      - uses: actions/checkout@v3
      - name: Installing required JavaScript dependencies
        run: npm i
      - run: |
            cp .env.example .env
            echo WEBLATE_TOKEN=${{ secrets.WEBLATE_TOKEN }} >> .env
      - name: Build website
        run: npm run build
      - name: Deploy
        run: |
            eval $(ssh-agent -s)
            echo "${{ secrets.REMOTE_KEY }}" | tr -d '\r' | ssh-add -
            rsync -e 'ssh -o StrictHostKeyChecking=no' --delete --delete-after --dirs --recursive dist/ ${{ secrets.REMOTE_URL }}
